body {
	background-color: #4a4e69;
}

button {
font-size: 30px;
background-color: #9a8c98;
}

h1,h2 {
	color: #c9ada7;
}

#signup {
	background-color: #22223b;
	color: #f2e9e4;
}

span{
	color: #22223b;
}

a {
text-decoration: none;
color: #ffffff;
}

.tag {
background-color: #22223b;
color: #ffffff;
}


.post a { 
color: #07d7f3;
font-weight: 700;
text-decoration: none;
}

input + button {
	background-color: #07d7f3;
}

h2 + button {
	font-size: 20px;
}

footer a{ 
	color: #07d7f3;
}

footer > a{
	color: #ffffff;
}

input[type="text"] {
	color: rebeccapurple;
}

a:hover {
	color: cornsilk;
	text-decoration: underline;
}

.post button:hover {
	background-color: rebeccapurple;
	color: cornsilk;
}

.post button:active {
	background-color: #22223b;
}

/* input[type="checkbox"]:checked{} would be used for checboxes/radio buttons */

.post:nth-of-type(2n-1) {
	background-color: #34374a
}

::selection { 
	background-color: lightseagreen;

}