/*html {
	font-size: 20px;
} 
By changing the root element 'html' we can change the referenced font-size used by rems
*/

#percentages {
	background-color: #2a9d8f;
width: 800px;
height: 800px;
}

#percentages div{
	background-color: #264653;
	width: 67%;
	height: 33%;
}

#ems h1{
	font-size: 40px;
	line-height: 200%;
}

#ems h2{
	font-size: 2em;
	margin-left: 1em;
}

#ems h3{ 
	font-size: 1.5em;
	margin-left: 3em;
}

#ems p{
font-size: 1em;
}

#ems{
	font-size: 16px;
}

button{
	font-size: 1rem;
	padding: 0 1rem;
	/* padding: x y; gives padding: (top & bottom)=x (L & R) = y */
	border-radius: 0.5rem;
	background-color: #e9c46a;color: #ffffff;
}

ul {
	font-size: 1.1em;
}

#rems h2{
	font-size: 3rem;
}

#rems h3{
	font-size: 2rem;
}

#rems ul{
	font-size: 0.8rem;
}

/*#rems button{
	font-size: 1.5rem;
}
*/
